header.header
  .header__container
  br
  a(href="#!").button Button
  a(href="#!").button-outline Button

  input.button(type="submit" value="Button")
  input.button-outline(type="submit" value="Button")